*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    overflow-x: hidden;
}
#heading{
    text-align: center;
    margin: 60px;
    font-size: 50px;
    font-family: cursive;
    
}
.container {
  width : 70% ;
  margin : 20px auto ;
  padding : 20px ;
}
.form{
    width : 70% ;
    margin : 10px auto ;
}
.form:after{
    content : "";
    clear:both;
    display: table;

}

.form input ,.form button {
   height : 35px ;
   border-radius : 3px ;
   float : left;

}
.form input {
  width : 80% ;
  border: 1px solid rgba(123, 123, 123, 0.3);
}
.form button {
  width : 20% ;
  background-color: rgb(252, 186, 45);
  color: #fff;
  border: none;
}
#todolist{
    width: 70%;
    margin: 20px auto;
    list-style-type: none;

}
#todolist li{
    margin-bottom: 20px;
    padding: 20px;
    box-sizing: 0 8px 10px 1px #8b8b8b07;
    border: 1px solid rgba(123, 123, 123, 0.2);
    border-radius: 3px;
}
#todolist li a{
    font-size: 14px;
    float: right;
    cursor: pointer;
    margin: 5px;
}

